@use '../helpers/theme.module.scss' as theme;

.pageContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.header {
    @include theme.headerTextDark;
    text-align: center;
    text-transform: uppercase;
}