@use '../helpers/theme.module.scss' as theme;

.footer {
  @include theme.backgroundBlack;
  display: block;
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  max-width: 100%;

  @media only screen and (max-width: 600px) {
    width: 600px;
    width: 100%;
    padding-inline: 0;
    flex-direction: column;
  }
}

.newsLetterContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    padding: 0;
    padding-left: 20px;
    padding-block: 30px;
    max-width: 250px;
  }
}


.heading {
  @include theme.headerTextWhite;
  margin-bottom: 0;
}

.subHeading {
  @include theme.subTextWhite;
}

.formContianer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 500px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.newsLetterInput {
  @include theme.input;
  margin-right: 12px;
  margin-bottom: 10px;

  width: 60%;
}

.newsLetterButton {
  @include theme.buttonLight;
}

.aboutContainer {
  max-width: 600px;
  width: 100%;
  padding-block: 50px;

  @media only screen and (max-width: 600px) {
    padding: 0;
    padding-left: 20px;
    padding-block: 30px;
    max-width: 250px;
  }
}