@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

$color-black: #000;
$color-white: #fff;
$color-main: #e5855e;

$header-font: 'Josefin Sans', sans-serif;
$text-font: 'Hind Siliguri', sans-serif;

@mixin headerTextWhite {
    color: $color-white;
    font-size: 30px;
    font-family: $header-font;
    font-weight: 900;
}

@mixin headerTextDark {
    color: $color-black;
    font-size: 30px;
    font-family: $header-font;
    font-weight: 900;
}

@mixin subTextWhite {
    color: $color-white;
    font-size: 18px;
    font-family: $text-font;
    font-weight: 400;
}

@mixin subTextBlack {
    color: $color-black;
    font-size: 18px;
    font-family: $text-font;
    font-weight: 400;
}

@mixin backgroundBrown {
    background-color: $color-main;
}

@mixin backgroundBlack {
    background-color: $color-black;
}

@mixin buttonLight {
    background-color: $color-white;
    border: 2px solid $color-black;
    padding: 10px 25px;
    font-family: $text-font;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
        background-color: $color-main;
    }
}

@mixin input {
    background-color: $color-white;
    font-family: $text-font;
    font-weight: 400;
    padding: 10px 20px;
    border: 3px solid $color-black;
    border-radius: 50px;
}
